body { background-image: url(images/background.jpg); color: white; padding-left: 10px }

nav a { text-decoration: none;
		padding-bottom: 15px;
}

nav a:link { color: white; }
nav a:visited { color: white; }
nav a:hover { color: #FF0000; }

a:link { color: white; }
a:visited { color: white; }
a:hover { color: #FF0000; }